* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button, select, input, option {
  border: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #fefffa;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

footer p {
  text-align: center;
  color: #fff;
}

h1, h2, h3 {
  margin-left: 1rem;
}

h2 {
  text-transform: uppercase;
}

h3 {
  margin-bottom: .75rem;
}

.logo img {
  width: 60px;
  height: auto;
}

.jumbo {
  background: url(../images/parallax.jpg) no-repeat center center;
  background-size: cover;
}

.panel {
  border-bottom: solid 1px #ccc;
  background-color: #fefffa;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px;
}

.panel a {
  text-transform: uppercase;
}

.panel ul {
  margin-left: .8rem;
  margin-top: 1.5rem;
}

@media (min-width: 580px) {
  .panel ul {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media (min-width: 580px) {
  .panel {
    border-bottom: none;
  }
}

@media (min-width: 580px) {
  .panel {
    top: 0;
    height: 100%;
    width: 16rem;
  }
}

@media (min-width: 580px) {
  .panel {
    padding-top: 287px;
  }
}

.mainDoc {
  margin: 0;
}

@media (min-width: 580px) {
  .mainDoc {
    margin-left: 160px;
  }
}

section {
  margin: 0 1.5rem 7rem;
}

.full-height {
  height: 100vh;
}

.mainDoc h2 {
  padding-bottom: 1rem;
}

.mainDoc h2#typography {
  padding-top: 13.5rem;
}

@media (min-width: 580px) {
  .mainDoc h2#typography {
    padding-top: 31rem;
  }
}

.mainDoc h2.anchor:before {
  content: "";
  display: block;
  height: 12rem;
  /* fixed header height*/
  margin: -12rem 0 0;
  /* negative fixed header height */
}

@media (min-width: 580px) {
  .mainDoc h2.anchor:before {
    height: 31rem;
    /* fixed header height*/
    margin: -31rem 0 0;
    /* negative fixed header height */
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

header.doc {
  display: block;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

header.doc .jumbo {
  display: none;
}

@media (min-width: 580px) {
  header.doc .jumbo {
    display: flex;
  }
}

footer {
  background-color: #ccc;
  z-index: 6;
}

@media (min-width: 580px) {
  footer.fixedFooter {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

pre {
  overflow: auto;
}

code {
  font-size: 1em;
  display: block;
  color: #222;
  white-space: pre;
  word-wrap: break-word;
  max-height: 200px;
  align-items: center;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

code ::-webkit-scrollbar {
  width: 10px;
}

code ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

code ::-webkit-scrollbar-thumb {
  background: #888;
}

code ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

figure {
  margin: 1.2rem 0 3rem 0;
  background-color: #dedede;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 1.4rem;
}

article {
  background-color: lightseagreen;
  border: solid 1px #dedede;
  padding: .5rem;
  margin: .2rem;
}

.jumbo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 4rem 10rem;
}

.jumbo h2, .jumbo p {
  text-align: center;
}

.intro {
  display: grid;
  justify-items: center;
  margin: 5rem;
}

@media (min-width: 470px) {
  .intro {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media (min-width: 700px) {
  .intro {
    grid-template-columns: repeat(3, 1fr);
  }
}

.intro section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  background-color: #fefffa;
}

header input[type=checkbox] {
  position: absolute;
  top: -999em;
  left: -999em;
}

header input[type=checkbox]:checked ~ nav {
  height: auto;
  overflow: hidden;
}

header label {
  display: block;
  background: url(../images/hamburger-menu.png) no-repeat right center;
  text-indent: -999em;
  height: 56px;
  cursor: pointer;
  -webkit-user-select: none;
  /*Chrome all / Safari all */
  -moz-user-select: none;
  /*Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  position: relative;
  top: 2px;
  right: 8px;
}

@media (min-width: 500px) {
  header label {
    display: none;
  }
}

header nav {
  height: 0;
  overflow: hidden;
}

@media (min-width: 500px) {
  header nav {
    height: 100%;
    overflow: visible;
  }
}

@media (min-width: 0) and (max-width: 499px) {
  header nav ul .logo {
    display: none;
  }
}

header nav ul li {
  border-radius: 5px;
}

header nav ul li a {
  color: #d4c9c5;
}

header nav ul li a:hover {
  color: #b77869;
}

header nav ul li a:active {
  color: #b77869;
}

header nav ul li:hover:first-of-type {
  background-color: transparent;
}

header nav ul li a {
  font-weight: bold;
  display: block;
  padding: 12px 10px;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  header nav ul {
    display: flex;
    justify-content: center;
  }
  header nav ul li:first-of-type {
    margin-right: auto;
  }
  header nav ul li a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 90px;
  }
  header nav ul li a.logo {
    padding: 0;
  }
}

@media (min-width: 500px) {
  header li#home {
    display: none;
  }
}

.panel div {
  position: relative;
  padding-bottom: 1.3rem;
}

@media (min-width: 580px) {
  .panel div {
    padding-bottom: 5rem;
  }
}

.panel div input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  width: 80%;
  z-index: 3;
}

@media (min-width: 580px) {
  .panel div input {
    position: inherit;
  }
}

.panel input[type=checkbox] {
  position: absolute;
  top: -999em;
  left: -999em;
}

.panel label {
  display: block;
  background: url(../images/search.png) no-repeat right center;
  text-indent: -999em;
  height: 44px;
  cursor: pointer;
  -webkit-user-select: none;
  /*Chrome all / Safari all */
  -moz-user-select: none;
  /*Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  position: relative;
  top: 2px;
  right: 8px;
}

@media (min-width: 580px) {
  .panel label {
    display: none;
  }
}

.panel nav {
  height: 0;
  overflow: hidden;
}

@media (min-width: 580px) {
  .panel nav {
    height: 100%;
    overflow: visible;
  }
}

.panel li {
  margin: .5rem 1rem;
}

.searchBox.activeSearch {
  height: auto;
  overflow: hidden;
}

#myInput {
  border-radius: 4px;
  padding: .5rem;
}

.active {
  color: #b77869;
  text-decoration: underline;
  transition: all 0.7s ease-in-out;
}

.show {
  height: 100%;
  overflow: hidden;
}

.m-1 {
  margin: 1rem;
}

html {
  font-size: 10px;
}

p, input, select, button, textarea, div {
  font-size: 1.4rem;
  line-height: 1.5;
}

p {
  padding: .5rem 1rem;
}

.h-large {
  font-size: 2.5rem;
}

.h-med {
  font-size: 2rem;
}

.h-sm {
  font-size: 1.5rem;
}

.t-large {
  font-size: 1.8rem;
}

.t-med {
  font-size: 1.4rem;
}

.t-sm {
  font-size: 1.2rem;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.t-green {
  color: #128212;
}

.t-yellow {
  color: #dada13;
}

.t-orange {
  color: #e4990f;
}

.t-blue {
  color: #0909cb;
}

.t-skyblue {
  color: #b6eaff;
}

.t-purple {
  color: #6f146f;
}

.t-gray {
  color: #545050;
}

.t-pinkgray {
  color: #a7a4a4;
}

.t-white {
  color: #fff;
}

.bg-darkgray {
  background-color: #7b7473;
}

.bg-lightgray {
  background-color: #a7a4a4;
}

.bg-pinkgray {
  background-color: #d5c9c6;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
  border: solid 1px #f5f5f5;
}

.bg-darkwhite {
  background-color: #f5f5f5;
}

.bg-yellow {
  background-color: #fafa9a;
}

.bg-orange {
  background-color: #ffd8cb;
}

.bg-gold {
  background-color: #e3c593;
}

.bg-green {
  background-color: #b4f4b4;
}

.bg-purple {
  background-color: #dd87a5;
}

.bg-blue {
  background-color: #333f62;
}

/*! Grid */
.gr-full {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 579px) {
  .gr-half {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .gr-third {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .gr-fourth {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/*! Image */
.image {
  background-color: #f5f5f5;
  margin: 1.2rem 0;
  padding: 1.4rem;
  border-radius: 4px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.float-left {
  float: left;
  margin-right: .8rem;
}

.float-right {
  float: right;
  margin-left: .8rem;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

/*! end Image */
/*! Nav Bar*/
div.navBar {
  background-color: #d4c9c5;
}

div.navBar input[type=checkbox] {
  position: absolute;
  display: none;
}

div.navBar input[type=checkbox]:checked ~ nav {
  height: auto;
  overflow: hidden;
}

div.navBar label {
  display: block;
  background: url(../images/hamburger-menu.png) no-repeat right center;
  text-indent: -999em;
  height: 56px;
  cursor: pointer;
  -webkit-user-select: none;
  /*Chrome all / Safari all */
  -moz-user-select: none;
  /*Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  position: relative;
  top: 2px;
  right: 8px;
}

@media (min-width: 500px) {
  div.navBar label {
    display: none;
  }
}

div.navBar nav {
  height: 0;
  overflow: hidden;
}

@media (min-width: 500px) {
  div.navBar nav {
    height: 100%;
    overflow: visible;
  }
}

@media (min-width: 0) and (max-width: 499px) {
  div.navBar nav ul .logo {
    display: none;
  }
}

div.navBar nav ul li {
  border-radius: 5px;
}

div.navBar nav ul li a {
  color: #fff;
}

div.navBar nav ul li a:hover {
  color: #93d293;
}

div.navBar nav ul li a:active {
  color: #93d293;
}

div.navBar nav ul li:hover:first-of-type {
  background-color: transparent;
}

div.navBar nav ul li a {
  font-weight: bold;
  display: block;
  padding: 12px 10px;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  div.navBar nav ul {
    display: flex;
    justify-content: center;
  }
  div.navBar nav ul li:first-of-type {
    margin-right: auto;
  }
  div.navBar nav ul li a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
  }
  div.navBar nav ul li a.logo {
    padding: 0;
  }
}

/*! Table */
td, th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

.bordered td, th {
  border: 1px solid #ccc;
}

.striped tr:nth-of-type(odd) {
  background: #eee;
}

.striped tr:nth-of-type(even) {
  background: lightgoldenrodyellow;
}

table {
  margin-bottom: 3rem;
}

@media (min-width: 720px) {
  table {
    border-collapse: collapse;
  }
  th {
    background: #333;
    color: #fff;
    font-weight: bold;
  }
  td, th {
    font-size: 85%;
  }
  td:first-child {
    max-width: 100%;
  }
  th:not(:first-child) {
    min-width: 70px;
  }
}

@media (min-width: 0) and (max-width: 760px) {
  table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
    display: block;
  }
  .responsive thead th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .responsive td {
    border: none;
    border-bottom: solid 1px #eee;
    position: relative;
    padding-left: 50%;
  }
  .responsive td:nth-of-type(odd) {
    border-bottom: solid 1px #fff;
  }
  .responsive td:before {
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
  .responsive td:nth-of-type(1):before {
    content: " ";
  }
  .responsive td:nth-of-type(2):before {
    content: "Name:";
  }
  .responsive td:nth-of-type(3):before {
    content: "Color:";
  }
  .responsive td:nth-of-type(4):before {
    content: "Material:";
  }
  .responsive td:nth-of-type(5):before {
    content: "Size:";
  }
  .responsive td:nth-of-type(6):before {
    content: "Weight:";
  }
  .responsive td:nth-of-type(7):before {
    content: "Price:";
  }
  .responsive td:nth-of-type(1) {
    padding-left: 10px;
  }
}

@media (min-width: 0px) and (max-width: 450px) {
  .responsive td, .responsive th {
    font-size: 85%;
  }
}

/*! Jumbotron */
.jumbotron {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jumbotron h3 {
  font-size: 3rem;
  margin-left: 1.5rem;
}

.jumbotron p {
  line-height: 1.1;
  font-size: 1.2rem;
  margin: .5rem 1.5rem 2rem;
}

/*! Custom form */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width: 100%;
  font-style: italic;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
  border: solid 1px #e8e7e7;
  color: #666;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 40px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2e3e60 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2e3e60 transparent;
  top: 34px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  color: #fff;
  background-color: #2e3e60;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*! Contact Form */
input, select, textarea {
  border: solid 1px #e8e7e7;
  outline-color: #ffd7cb;
}

@media (min-width: 580px) {
  .contact-form {
    width: 60%;
  }
}

.contact-form label {
  display: block;
  width: 100%;
  font-style: italic;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.contact-form input {
  display: block;
  width: 100%;
  font-style: italic;
  padding-bottom: 0.5em;
  padding-top: 1em;
  padding-left: 1em;
}

.contact-form #txt {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.contact-form textarea {
  display: block;
  border: solid 1px #e8e7e7;
  font-style: italic;
  color: #d4c9c5;
  padding-bottom: 0.5em;
  padding-top: 1em;
  padding-left: 1em;
}

.contact-form #buttonSend {
  color: #2e3e60;
  margin-left: auto;
  font-weight: 500;
  background-color: #ffd7cb;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 4px 6px #eac1b5;
  padding: .5rem .7rem;
  cursor: pointer;
}

@media (min-width: 580px) {
  .contact-form #buttonSend {
    width: 6rem;
  }
}

.contact-form #buttonSend:hover {
  background-color: #2e3e60;
  box-shadow: 2px 4px 6px #2e3e60;
  color: white;
}

.smBtn {
  padding: 7.5px 12.5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #ffd7cb;
  border: none;
  border-radius: 7.5px;
  box-shadow: 0 4.5px #746f6a;
}

.smBtn:hover {
  background-color: #3e8e41;
}

.smBtn:active {
  background-color: yellow;
  box-shadow: 0 5px #746f6a;
  transform: translateY(2px);
}

.mdBtn {
  padding: 11.25px 18.75px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #ffd7cb;
  border: none;
  border-radius: 11.25px;
  box-shadow: 0 6.75px #746f6a;
}

.mdBtn:hover {
  background-color: #3e8e41;
}

.mdBtn:active {
  background-color: yellow;
  box-shadow: 0 7.5px #746f6a;
  transform: translateY(3px);
}

.lgBtn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #ffd7cb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #746f6a;
}

.lgBtn:hover {
  background-color: #3e8e41;
}

.lgBtn:active {
  background-color: yellow;
  box-shadow: 0 5px #746f6a;
  transform: translateY(4px);
}

.footer {
  background-color: #1c2336;
  color: #fff;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: .5rem 0;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion-active, .accordion:hover {
  background-color: #d4c9c5;
}

/* Style the accordion panel. Note: hidden by default */
.accordion-panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Slideshow */
.slideshow ul#slides {
  list-style-type: none;
  max-width: 650px;
  max-height: 365px;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
}

.slideshow img {
  max-width: 100%;
  height: auto;
}

.slideshow li.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slideshow li.showing {
  opacity: 1;
  z-index: 2;
}

.slideshow .controller {
  background-color: #333;
  position: relative;
  max-width: 650px;
  width: 100%;
  border-right: solid 4px #333;
  border-left: solid 4px #333;
  display: flex;
  justify-content: center;
}

.slideshow .controls {
  font-size: 30px;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 674px) {
  .slideshow .controls {
    border: none;
  }
}
