// accordion
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    display: flex;
    justify-content: space-between; 
    background-color: $text-card;
    color: $nav-background;
    cursor: pointer;
    padding: 18px;
    margin: .5rem 0;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion-active, .accordion:hover {
    background-color: $nav-color;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    padding: 0 18px;
    background-color: $text-color;
    display: none;
    overflow: hidden;
  }
