// Text color
.t-green {
    color: rgb(18, 130, 18);
}
.t-yellow {
    color: rgb(218, 218, 19);
}
.t-orange {
    color: rgb(228, 153, 15);
}
.t-blue {
    color: rgb(9, 9, 203);
}
.t-skyblue {
    color: rgb(182, 234, 255);
}
.t-purple {
    color: rgb(111, 20, 111);
}
.t-gray {
    color: rgb(84, 80, 80);
}
.t-pinkgray {
    color: #a7a4a4;
}
.t-white {
    color: #fff;
}
// Background color
.bg-darkgray {
    background-color:#7b7473;
}
.bg-lightgray {
    background-color:#a7a4a4;
}
.bg-pinkgray {
    background-color: #d5c9c6;
}
.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
    border: solid 1px #f5f5f5;
}
.bg-darkwhite {
    background-color: #f5f5f5;
}
.bg-yellow {
    background-color: rgb(250, 250, 154);
}
.bg-orange {
    background-color:#ffd8cb;
}
.bg-gold {
    background-color: #e3c593;
}
.bg-green {
    background-color: rgb(180, 244, 180);
}
.bg-purple {
    background-color:#dd87a5;
}
.bg-blue {
    background-color:#333f62;
}