.active { // panel active link with js
    color:  $nav-hover;
    text-decoration: underline;
    transition: all 0.7s ease-in-out;
}
.show { // Mobile navigation menu with js
    height: 100%;
    overflow: hidden;
}