.m-1 {
    margin: 1rem;
}
/*! Grid */
.gr-full {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
@include break(579px) {
    .gr-half {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .gr-third {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
    .gr-fourth {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}
/*! Form */
input, label, textarea {
    display: block;
}
input {
    border: solid 1px #ccc;
}
/*! Shipping Form */
#col1 {
    width: 75%;
    float: left;
    padding-right: 1em;
}
#col2 {
    width: 25%;
    float: left;
}
#col1 li {
    display: inline-block;
    width: 33%;
}
#sCrit img {
    width: 100%;
}
#sCrit .info {
    width: 25%;
    margin-left: 2%;
    padding: 4px;
    font-size: 85%;
    line-height: 1.2;
    background-color: #fff;
    border: solid 1px #99b8a8;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    display: none;
}
ul#description {
    list-style-type: none;
    margin-left: 0;
}

/* form styles */
fieldset {
    padding: 1em;
}
legend {
    color: #999;
}
.row {
    margin-bottom: .5em;
}
input {
    border: solid 1px #99b8a8;
    padding: .2em;
}
label {
    display: block;
}
input[id="address"] {
    width: 250px;
}
label[for="city"], label[for="state"] {
    display: inline-block;
}
/*! end Shipping Form */

/*! Image */
.img-responsive {
    max-width: 100%;
    height: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear: both;
}
.float-left:after {
    display: table;
    content: '';
    clear: both;
}
