%bar{ background-color: $body-background; }
// top bar menu
header {
    @extend %bar; // extend shallow class bar
    input[type=checkbox] {
        position: absolute;
        top: -999em;
        left: -999em;
        &:checked ~ nav {
            height: auto;
            overflow: hidden;
        }
    }
    label {
        display: block;
        background: url(../images/hamburger-menu.png)no-repeat right center;
        text-indent: -999em;
        height: 56px;
        cursor: pointer;
        @include browsers; // include mixin browsers
        user-select: none;
        position: relative;
        top: 2px;
        right: 8px;
        @include break(500px) { display: none; }
    }
    nav {
        height: 0;
        overflow: hidden;
        @include break(500px) {
            height: 100%;
            overflow: visible;
        }
        ul{
            @include break(0, 499px) { .logo { display: none; } }
            li {
                border-radius: 5px;
                @include linx($nav-color, $nav-hover, $nav-hover);
                &:hover {
                    // background-color: transparentize(lighten($background-hover, 4%), .2); //bult-in function: color
                    &:first-of-type { background-color: transparent; }
                }
                a { 
                    font-weight: bold;
                    display: block;
                    padding: 12px 10px;
                    text-transform: uppercase;
                }
            } 
            @include break(500px) {
                display: flex;
                justify-content: center;
                li:first-of-type { margin-right: auto; }
                li {
                    a {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 90px;
                        &.logo { padding: 0; }
                    }
                }
            }
        }
    }
} 
header li#home {
    @include break(500px) {
        display: none;
    }
}
// Docs navigation
.panel {
    div {
        position: relative;
        padding-bottom: 1.3rem;
        input {
            position: absolute;
            top: 0;
            left: 0;
            margin: 15px;
            width: 80%;
            z-index: 3;
            @include break(580px) { 
                position: inherit;
            }
        }
    }
    input[type=checkbox] {
        position: absolute;
        top: -999em;
        left: -999em;
    }
    label {
        display: block;
        background: url(../images/search.png)no-repeat right center;
        text-indent: -999em;
        height: 44px;
        cursor: pointer;
        @include browsers; // include mixin browsers
        user-select: none;
        position: relative;
        top: 2px;
        right: 8px;
        @include break(580px) { display: none; }
    }
    nav {
        height: 0;
        overflow: hidden;
        @include break(580px) {
            height: 100%;
            overflow: visible;
        }
    }
}
.panel li {
    margin: .5rem 1rem;
}
.searchBox.activeSearch {
    height: auto;
    overflow: hidden;
}
#myInput {
    border-radius: 4px;
    padding: .5rem;
}