html {
    font-family: $font-body;
}
main {
    background-color:  $body-background;
}
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    min-height: 100vh;
}
.container {
    margin: 0 auto;
    max-width: 960px;
}
footer p {
    text-align: center;
    color: $text-color;
}
h1, h2, h3 {
    margin-left: 1rem;
}
h2 {
    text-transform: uppercase;
}
h3 {
    margin-bottom: .75rem;
}
.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin-left: 2rem;
    & span {
        font-family: $font-headings;
        font-weight: 400;
        color: $text-shadow;
        text-transform: capitalize;
        margin-left: 1.5rem;
    }
}
.jumbo {
    background: url(../images/parallax.jpg) no-repeat center center;
    background-size: cover;
}
.panel {
    border-bottom: solid 1px $border;
    background-color: $body-background;
    a {
        text-transform: uppercase;
    }
    ul {
        margin-left: .8rem;
        margin-top: 1.5rem;
        @include break(580px) { 
            margin-top: 0;
            margin-left: 1rem;
        }
    }
    @include break(580px) {
        border-bottom: none;
    }
    position: fixed;
    width: 100%;
    @include break(580px) {
        top: 0;
        height: 100%;
        width: 16rem;
    }
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    @include break(580px) { padding-top: 22.5rem; }
}
.mainDoc {
    @include break(580px) {
        margin-left: 160px;
    }
    margin: 0;
}
.doc .jumbo {
    @include break(500px) { padding: 1.5rem 4rem; }
    @include break(787px) { padding: 2.5rem 6rem; }
}
section {
    margin: 0 1.5rem 7rem;
}
.full-height {
    margin-bottom: 2rem;
    @include break(1200px) { height: 100vh; }
}
.mainDoc h2 {
    &#typography {
        padding-top: 13.5rem;
        @include break(580px) { padding-top: 24rem; }
    }
    &.anchor:before {
        content:"";
        display:block;
        height: 12rem; /* fixed header height*/
        margin: -12rem 0 0; /* negative fixed header height */
        @include break(580px) {
            height: 24rem; /* fixed header height*/
            margin: -24rem 0 0; /* negative fixed header height */
        }
    }
    padding-bottom: 1rem;
}
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
header.doc {
    display: block;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    .jumbo {
        display: none;
        @include break(580px) {
            display: flex;
        }
    }
}
footer {
    background-color: $footer-background;
    z-index: 6;
    &.fixedFooter {
        @include break(580px) {
            display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

// code box
pre {
    overflow: auto;
}
code {
    font-size: 1em;
    display: block;
    color: $code;
    white-space: pre;
    word-wrap: break-word;
    max-height: 200px;
    align-items: center;
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: $track;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $handle;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $handel-hover;
    }
}
figure {
    margin: 1.2rem 0 3rem 0;
    background-color: #dedede;
    border: 1px solid $border-figure;
    border-radius: 4px;
    padding: 1.4rem;
}
.full-height figure { margin-bottom: 5rem; }
article {
    background-color: $light-heading;
    border: solid 1px $border-article;
    padding: .5rem;
    margin: .2rem;
}
// end code box
// HOME PAGE
.jumbo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    @include break(500px) { padding: 4rem 10rem; }
    h2, p {
        text-align: center;
    }
}
.intro {
    display: grid;
    justify-items: center;
    margin: 5rem 5rem 2rem;
    @include break(500px) {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    @include break(700px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.intro section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem;
}
.centerLoad {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    button {
        padding: 12px 28px;
        border-radius: 4px;
        background-color: $btn-background;
        cursor: pointer;
        &:hover {
            background-color: $btn-bg-hover;
        }
    }
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0; 
    a, p {
        text-align: left;
    }
    p { padding-left: 0; }
    div { margin-left: 1.5rem; }
}
#slideshow figure {
    margin-bottom: 5rem;
}
.full-height .slideshow {
    margin-left: 0;
}
// DEMO
.download {
    color: $text-shadow;
    text-decoration: underline;
    text-transform: uppercase;
    &:hover {
        color: $nav-hover;
    }
}
.demo {
    margin: 5rem;
    display: grid;
    justify-content: center;
    grid-gap: 4rem 2rem;
    @include break(530px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include break(740px) {
        grid-template-columns: repeat(3, 1fr);
    }
    .example {
        border: solid 1px $border;
        padding: 2rem;
    }
    .demo-top {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .demo-bottom {
        display: flex;
        flex-direction: column;
        align-content: center;
        img {
            align-items: center;
        }
        div {
            display: flex;
            justify-content: space-between;
            button {
                outline: none;
                padding: 6px 12px;
                color: $text-color;
                width: 9rem;
                cursor: pointer;
                &.github { 
                    background-color: $github;
                    &:hover { background-color: $github-hover; }
                }
                &.online {
                    background-color: $online;
                    &:hover { background-color: $online-hover; }
                }
            }
        }
    }
}
