body {
    background-color: green;
}
.panel {
    position: fixed;
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    width: 100%;
    @include break(580px) {
        top: 0;
        height: 100%;
        width: 160px;
    }
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightpink;
    overflow-x: hidden;
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    padding-top: 50px;
    @include break(580px) { padding-top: 90px; }
}
.mainDoc {
    @include break(580px) {
        margin-left: 160px;
    }
    margin-left: 0;
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    // padding-top: 90px;
}
.full-height {
    height: 100vh;
}
section, h2 {
    position: relative;
    // top: 20px;
}
h2 {
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    padding-top: 135px;
    @include break(580px) {
        padding-top: 85px;
    }
    // height: 40px;
    background-color: lightgreen;
}
header {
<<<<<<< HEAD
=======

>>>>>>> 749f4f2548f26d8b992283ba89dcb417d5053c38
    display: block;
    position: fixed;
    background-color: lightcoral;
    top: 0;
    z-index: 2;
    width: 100%;
    a { display: inline-block; }
}

// Search box


// code box

pre {
    overflow: auto;
}
code {
    font-size: 1em;
    display: block;
    color: #222;
    white-space: pre;
    word-wrap: break-word;
}
figure {
    margin: 2rem;
    background-color: #dedede;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 2rem;
}
