body {
    background-color: green;
}
.panel {
    position: fixed;
    width: 100%;
    @include break(580px) {
        top: 0;
        height: 100%;
        width: 160px;
    }
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightpink;
    overflow-x: hidden;
    padding-top: 50px;
    @include break(580px) { padding-top: 90px; }
}
.mainDoc {
    @include break(580px) {
        margin-left: 160px;
    }
    margin-left: 0;
    // padding-top: 90px;
}
.full-height {
    height: 100vh;
}
section, h2 {
    position: relative;
    // top: 20px;
}
h2 {
    padding-top: 135px;
    @include break(580px) {
        padding-top: 85px;
    }
    // height: 40px;
    background-color: lightgreen;
}
header {
    display: block;
    position: fixed;
    background-color: lightcoral;
    top: 0;
    z-index: 2;
    width: 100%;
    a { display: inline-block; }
}

// Search box


// code box

pre {
    overflow: auto;
}
code {
    font-size: 1em;
    display: block;
    color: #222;
    white-space: pre;
    word-wrap: break-word;
    max-height: 200px;
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
}
figure {
    margin: 2rem;
    background-color: #dedede;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 2rem;
}
