@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
$body-background:   #fefffa;
$nav-color:         #d4c9c5;
$nav-hover:         #b77869;
$bg-nav:            #ffebe5;
$header-border:     #e3e3e3;
$text-color:        #fff;
$text-shadow:       #000;
$border:            #ccc;
$footer-background: #D5C9C6;
$btn:               #ffd7cb;
$btn-hover:         purple;
$btn-active:        #2E3E60;
$btn-background:    #f9a07f;
$btn-bg-hover:      #EF8056;
$code:              #222;
$track:             #f1f1f1;
$handle:            #888;
$handel-hover:      #555;
$border-figure:     #E1E1E1;
$border-article:    #dedede;
$github:            #7c7472;
$github-hover:      #5e5654;
$online:            #e3c593;
$online-hover:      #bba06f;
$box-shadow:        #746f6a;
$nav-background:    #444;
$border-form:       #e8e7e7;
$dark-grey:         #666;
$border-after:      rgb(46, 62, 96);
$select-hover:      rgba(0, 0, 0, 0.1);
$border-contact:    rgb(232, 231, 231);
$send:              #eac1b5;
$text-card:         #f5f5f5;
$text-caption:      #f2f2f2;
$heading-color:     rgb(147, 210, 147);
$light-heading:     #9dae8f;

$shadow-layer1:     rgba(0,0,0,0.16);
$shadow-layer2:     rgba(0,0,0,0.12);

$pd: 5px 10px 12px 15px 20px;
$font-headings: 'Allura', cursive;
$font-body: Arial, Helvetica, sans-serif;