@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
$body-background:   #fefffa;
$nav-color:         #d4c9c5;
$nav-hover:         #b77869;
$header-border:     #e3e3e3;
$text-color:        #fff;

$heading-color:     rgb(147, 210, 147);
$nav-background:    #444;
$green:             rgb(42, 138, 42);
$hover-icon-home:   #faa966;
$light-orange:      #e1a87a;
$light-heading:     #9dae8f;
$dark-green:        #445436;
$text-card:         #f5f5f5;
$social:            #dedede;
$dark-grey:         #666;
$text-shadow:       #000;
$shadow-layer1:     rgba(0,0,0,0.16);
$shadow-layer2:     rgba(0,0,0,0.12);

$pd: 5px 10px 12px 15px 20px;

$font-body: Verdana, sans-serif;
$font-headings: ‘Allura’, cursive;;
$size-text: 1.4rem;